<section class="bg-zinc-900 w-screen lg:px-64 md:px-32 py-16 px-16 flex items-center">
    <div class="text-2lg text-center text-gray-400 space-y-12">
        <h2 class="text-4xl font-bold text-center mb-12 text-yellow-500">Sobre Mim</h2>
        <p class="m-4-lg">
            Olá! Sou <strong>Matheus Pedro Caprioli</strong>, desenvolvedor Full Stack de Curitiba, PR. Com três anos de
            experiência, trabalho atualmente no
            <strong><a href="https://www.trabalhabrasil.com.br/" target="_blank">Trabalha Brasil (TBR)</a> e <a href="https://www.bne.com.br/" target="_blank">Banco Nacional de Empregos (BNE)</a></strong>, onde tenho a oportunidade de explorar meu conhecimento em
            várias tecnologias e frameworks para oferecer soluções robustas e inovadoras. Minha jornada envolve o
            desenvolvimento de APIs, front-end, back-end e banco de dados, sempre com foco na eficiência e
            escalabilidade.
        </p>
        <p>
            Tenho proficiência em diversas linguagens e ferramentas, incluindo <strong>C#, .NET, Python, React,
                Docker</strong> e <strong>SQL</strong>. Estou sempre aberto a aprender e aplicar novos conhecimentos,
            como o <strong>ASP.NET Core</strong> e técnicas de DevOps com <strong>Nginx</strong> e
            <strong>Docker</strong>. Amo programação, lógica formal, resolução de problemas, e a busca de melhorias contínuas, visando não só atender
            às expectativas, mas superá-las com soluções bem projetadas, eficientes, eficazes, escaláveis e funcionais.
        </p>
        <p>
            Bem-vindo ao meu portfólio! Aqui você encontrará uma visão das minhas habilidades, projetos e ferramentas
            que fazem parte da minha trajetória.
        </p>
    </div>
</section>